<app-page-header
  icon="pi pi-sitemap"
  title="Estrutura Organizacional"
  subtitle="Empresas, departamentos, setores e hierarquias" />

<div class="org-switcher">
  @for (section of sections; track section.key) {
    <button
      type="button"
      class="org-switcher__item"
      [class.org-switcher__item--active]="activeSection() === section.key"
      (click)="select(section.key)">
      <i [class]="section.icon"></i>
      {{ section.label }}
    </button>
  }
</div>

@switch (activeSection()) {
  @case ('companies') {
    <app-org-structure-companies />
  }
  @case ('departments') {
    <app-org-structure-departments />
  }
  @case ('teams') {
    <app-org-structure-teams />
  }
  @case ('hierarchies') {
    <app-org-structure-hierarchies />
  }
}
