<div class="pk-field" [class.pk-field--error]="showError" [class.pk-field--disabled]="isDisabled">

  <label class="pk-label" *ngIf="label()">
    {{ label() }}
    <span class="pk-required" *ngIf="pkRequired()">*</span>
  </label>

  <p-password
    [ngModel]="innerValue"
    (ngModelChange)="onModelChange($event)"
    [feedback]="feedback()"
    [toggleMask]="true"
    [disabled]="isDisabled"
    [placeholder]="placeholder()"
    styleClass="pk-password"
    [inputStyleClass]="showError ? 'pk-input--error' : ''"
    appendTo="body"
    promptLabel="Digite uma senha" weakLabel="Fraca"
    mediumLabel="Média" strongLabel="Forte">
  </p-password>

  <div class="pk-field-footer" *ngIf="showError">
    <span class="pk-error"><i class="pi pi-exclamation-circle"></i> {{ resolvedError }}</span>
  </div>
</div>
