<p-dialog
  [header]="header()"
  [visible]="visible()"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: width(), maxWidth: '95vw' }"
  styleClass="pk-dialog"
  maskStyleClass="pk-dialog-mask"
  (onHide)="onHide()"
  (visibleChange)="onVisibleChange($event)">

  <ng-template pTemplate="content">
    <div class="pk-dialog__corpo" [class.pk-dialog__corpo--flush]="flush()">
      <ng-content select="[pkDialogContent]" />
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <ng-content select="[pkDialogFooter]" />
  </ng-template>
</p-dialog>
