<p-toolbar class="thin-toolbar">
  <div class="p-toolbar-group-start">
    <p-button icon="pi pi-refresh" class="mr-2" (click)="loadCustomers()"></p-button>
    &nbsp;&nbsp;
    <p-button icon="pi pi-plus" class="mr-2" (click)="showDialog()"></p-button>
  </div>
</p-toolbar>

<div class="card">
  <p-table
    #dt1
    [value]="customers"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5,10,20]"
    [loading]="loading"
    [responsiveLayout]="'scroll'"
    [globalFilterFields]="['name', 'email.address', 'phone.number']"
    [rowHover]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Cód Parceiro</th>
        <th>Documento</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ativo</th>
        <th>Recebe Email</th>
        <th>Cód Matriz</th>
        <th>Editar</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>{{ customer.codParceiro }}</td>
        <td>{{ customer.documento }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email.address }}</td>
        <td>
            <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': customer.ativo, 'text-red-500 pi-times-circle': !customer.ativo}"></i>
        </td>
        <td>
            <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': customer.recebeEmail, 'text-red-500 pi-times-circle': !customer.recebeEmail}"></i>
        </td>
        <td>{{ customer.codMatriz }}</td>
        <td>
          <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info p-mr-2" (click)="editCustomer(customer)"></button>
          <!-- <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteCustomer(customer)"></button> -->
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">Nenhum cliente encontrado.</td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="Adicionar Cliente" [(visible)]="visible" [modal]="true" [closable]="true" [responsive]="true" [style]="{width: '50vw'}">
    <span class="p-text-secondary block mb-5">Inclua os dados do cliente.</span>
    <form [formGroup]="form" (ngSubmit)="saveCustomer()">
      <div class="p-fluid mb-4">
        <div class="p-field">
          <label for="codParceiro">Cód Parceiro</label>
          <input id="codParceiro" type="text" pInputText formControlName="codParceiro" [readOnly]="customerToEdit !== null" />
        </div>
        <div class="p-field">
          <label for="documento">Documento</label>
          <input id="documento" type="text" pInputText formControlName="documento" />
        </div>
        <div class="p-field">
          <label for="nome">Nome</label>
          <input id="nome" type="text" pInputText formControlName="nome" />
        </div>
        <div class="p-field">
          <label for="email">Email</label>
          <input id="email" type="text" pInputText formControlName="email" />
        </div>
        <div class="d-flex gap-3 align-items-center">
          <div class="p-field-checkbox">
            <p-checkbox inputId="ativo" formControlName="ativo" binary="true"></p-checkbox>
            <label for="ativo">Ativo</label>
          </div>
        <div class="p-field-checkbox">
            <p-checkbox inputId="recebeEmail" formControlName="recebeEmail" binary="true"></p-checkbox>
            <label for="recebeEmail">Recebe Email</label>
          </div>
        </div>
        <div class="p-field">
          <label for="codMatriz">Cód Matriz</label>
          <input id="codMatriz" type="text" pInputText formControlName="codMatriz" />
        </div>
      </div>
      <p-footer>
        <button pButton type="submit" label="Salvar" [disabled]="form.invalid"></button>
      </p-footer>
    </form>
  </p-dialog>
</div>
