<p-toolbar class="thin-toolbar">
  <div class="p-toolbar-group-start">
    <p-button icon="pi pi-refresh" class="mr-2" (click)="loadCustomers()"></p-button>
    &nbsp;&nbsp;
    <p-button icon="pi pi-plus" class="mr-2" (click)="showDialog()"></p-button>
  </div>
</p-toolbar>

<div class="card">
  <p-table
    #dt1
    [value]="customers"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5,10,20]"
    [loading]="loading"
    [responsiveLayout]="'scroll'"
    [globalFilterFields]="['name', 'email.address', 'phone.number']"
    [rowHover]="true"
    size="small">
    <ng-template pTemplate="header">
      <tr>
        <th>Cód Parceiro</th>
        <th>Documento</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ativo</th>
        <th>Recebe Email</th>
        <th>Cód Matriz</th>
        <th>Editar</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>{{ customer.codParceiro }}</td>
        <td>{{ customer.documento }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email.address }}</td>
        <td>
            <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': customer.ativo, 'text-red-500 pi-times-circle': !customer.ativo}"></i>
        </td>
        <td>
            <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': customer.recebeEmail, 'text-red-500 pi-times-circle': !customer.recebeEmail}"></i>
        </td>
        <td>{{ customer.codMatriz }}</td>
        <td>
          <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info p-mr-2" (click)="editCustomer(customer)"></button>
          <!-- <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteCustomer(customer)"></button> -->
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">Nenhum cliente encontrado.</td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="Adicionar Cliente"
    [(visible)]="visible"
    [modal]="true"
    [closable]="true"
    [style]="{width: '600px', maxWidth: '90vw'}"
    [contentStyle]="{'padding': 0}">

    <ng-template pTemplate="content">
      <div class="p-fluid p-4">
        <p class="p-text-secondary mb-4">Inclua os dados do cliente.</p>

        <form [formGroup]="form" (ngSubmit)="saveCustomer()">
          <div class="grid">

            <div class="col-12 md:col-6 mb-3">
              <label for="codParceiro">Cód Parceiro <span class="text-red-500">*</span></label>
              <input id="codParceiro" type="text" pInputText formControlName="codParceiro" [readOnly]="customerToEdit !== null" [style]="{'width': '100%'}"/>
            </div>

            <div class="col-12 md:col-6 mb-3">
              <label for="documento">Documento <span class="text-red-500">*</span></label>
              <input id="documento" type="text" pInputText formControlName="documento" [style]="{'width': '100%'}"/>
            </div>

            <div class="col-12 md:col-6 mb-3">
              <label for="nome">Nome <span class="text-red-500">*</span></label>
              <input id="nome" type="text" pInputText formControlName="nome" [style]="{'width': '100%'}"/>
            </div>

            <div class="col-12 md:col-6 mb-3">
              <label for="email">Email <span class="text-red-500">*</span></label>
              <input id="email" type="text" pInputText formControlName="email" [style]="{'width': '100%'}"/>
            </div>

            <div class="col-12 md:col-6 mb-3">
              <label for="codMatriz">Cód Matriz</label>
              <input id="codMatriz" type="text" pInputText formControlName="codMatriz" [style]="{'width': '100%'}"/>
            </div>

            <div class="col-12 md:col-6 mb-3 mt-3">
              <div class="p-field-checkbox">
                <p-checkbox inputId="ativo" formControlName="ativo" binary="true"></p-checkbox>
                <label for="ativo">&nbsp; Ativo</label>
              </div>
              <div class="p-field-checkbox">
                <p-checkbox inputId="recebeEmail" formControlName="recebeEmail" binary="true"></p-checkbox>
                <label for="recebeEmail">&nbsp; Recebe Email</label>
              </div>
            </div>

          </div>

          <p-footer>
            <button pButton type="submit" label="Salvar" [disabled]="form.invalid"></button>
            <button pButton type="button" label="Cancelar" class="p-button-secondary ml-2" severity="danger" (click)="visible = false"></button>
          </p-footer>
        </form>
      </div>
    </ng-template>
  </p-dialog>
</div>
