<header class="header">

  <button class="menu-toggle" (click)="toggleMenu()">
    ☰
  </button>

  <nav class="menu" [class.active]="menuAberto">
    <ul>
      <li><a href="#home" fragment="home">Início</a></li>
      <!-- <li><a routerLink="produtos/lista">Produtos</a></li> -->
      <li><a href="#services">Serviços</a></li>
      <li><a href="#about-us">Sobre nós</a></li>
      <li><a (click)="showContact()">Contato</a></li>
  </ul>
</nav>

<div>
  <ul class="grp-menu">
    <li class="carrinho-container">
      <a routerLink="carrinho">
        <i class="fas fa-shopping-cart"></i>
        @if (quantidadeProdutos > 0) {
          <span class="badge">{{ quantidadeProdutos }}</span>
        }
      </a>
    </li>
  </ul>
</div>
</header>

<p-dialog header="Entre em contato"
    [(visible)]="visible"
    [modal]="true"
    [closable]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{width: '50vw'}"
    [draggable]="false"
    [resizable]="false">
  <app-contact></app-contact>
</p-dialog>
