.toolbar-home{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.logo img{
  max-width: 100%;
  height: auto;
  max-height: 35px;
}

@media (max-width: 768px) {
    .toolbar-home {
        padding: 0 20px;
    }

    .logo img {
        max-height: 30px;
    }
}

@media (max-width: 480px) {
    .toolbar-home {
        padding: 0 10px;
    }

    .logo img {
        max-height: 25px;
    }
}
