<p-toolbar class="thin-toolbar">
    <div class="p-toolbar-group-start">
        <p-button icon="pi pi-refresh" class="mr-2" (click)="loadVehicles()" size="small"/>
        &nbsp;&nbsp;
        <p-button icon="pi pi-plus" class="mr-2" (click)="showDialog()" size="small"/>
    </div>
</p-toolbar>

<div class="card">
    <p-table
      #dt1
      [value]="vehicles"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[5,10,20]"
      [loading]="loading"
      [responsiveLayout]="'scroll'"
      [globalFilterFields]="['Modelo', 'Marca', 'Placa']"
      [rowHover]="true"
      size="small">
    <ng-template pTemplate="header">
        <tr>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Placa</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehicle >
        <tr>
            <td>{{ vehicle.nome }}</td>
            <td>{{ vehicle.marca }}</td>
            <td>{{ vehicle.placa }}</td>
            <td>
                <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info p-mr-2" (click)="editVehicle(vehicle)" size="small"></button>
                <!-- <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deletevehicle(vehicle)"></button> -->
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4">Nenhum Veículo Encontrado.</td>
        </tr>
    </ng-template>
    </p-table>
</div>

<p-dialog header="Adicionar Veículo" [(visible)]="visible" [modal]="true" [closable]="true" [style]="{width: '20vw'}">
    <span class="p-text-secondary block mb-5">Inclua os dados do Veículo</span>
    <form [formGroup]="form" (ngSubmit)="saveVehicle()">
        <div class="p-fluid mb-4">
            <div class="p-field">
                <label for="nome">Nome &nbsp;</label>
                <input id="nome" type="text" pInputText formControlName="nome">
            </div>
            <div class="p-field">
                <label for="marca">Marca &nbsp;</label>
                <input id="marca" type="text" pInputText formControlName="marca">
            </div>
            <div class="p-field">
                <label for="placa">Placa &nbsp;</label>
                <input id="placa" type="text" pInputText formControlName="placa">
            </div>
        </div>
        <p-footer class="flex justify-end gap-2">
          <button pButton type="submit" label="Salvar" class="p-button-success" [disabled]="form.invalid"></button>
          <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="visible=false"></button>
      </p-footer>
    </form>
</p-dialog>
