@use 'variables' as v;

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: .3rem;
}

.chip-color {
  display: inline-block;
  background: #f1f5f9;
  color: v.$secondary;
  font-size: .72rem;
  font-weight: 500;
  padding: .15rem .5rem;
  border-radius: 999px;
  border: 1px solid v.$secondary;

  &.chip-color-muted {
    background: #f9fafb;
    color: v.$primary;
  }

  &.chip-color-more {
    background: #e5e7eb;
    color: v.$primary;
    font-style: italic;
  }
}

::ng-deep .p-inputchips {
  width: 100%;
  .p-inputchips-multiple-container { width: 100%; min-height: 40px; font-size: .88rem; }
}

.chip-area {
  display: inline-flex;
  align-items: center;
  padding: .2rem .65rem;
  background: v.$secondary-lighter;
  color: v.$primary;
  border-radius: 99px;
  font-size: .78rem;
  font-weight: 500;
  white-space: nowrap;
}
