
@import "/node_modules/bootstrap/dist/css/bootstrap.min.css" layer(bootstrap);

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "./variables.scss";

html {
    scroll-behavior: smooth;
}
html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neve', Helvetica, Arial, sans-serif;
}

app-root{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content{
    flex: 1;
    background: #f1f2f4
}

app-footer{
    text-align: center;
}
