@use '../../../../styles/variables' as *;

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.card {
  padding: 30px;
  border-radius: 16px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: $primary-color;
}

h2 {
  margin-bottom: 20px;
}

.loading {
  color: #94a3b8;
}

.secret-box {
  border: 1px solid #334155;
  padding: 20px;
  border-radius: 12px;
}

pre {
  padding: 15px;
  border-radius: 8px;
  color: $primary-color;
  overflow-x: auto;
  font-size: 14px;
}

.btn-copy {
  margin-top: 15px;
  padding: 10px 20px;
  background: $secondary-color;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn-copy:hover {
  background: $secondary-color-dark1;
}

.destroyed {
  margin-top: 15px;
  font-size: 13px;
  color: red;
}

.error {
  color: #ef4444;
  margin-top: 15px;
}
