<div class="container">
  <div class="card">

    <h2>🔐 Segredo Seguro</h2>

    <div *ngIf="loading" class="loading">
      Carregando segredo...
    </div>

    <div *ngIf="content && !loading" class="secret-box">
      <pre>{{ content }}</pre>

      <button (click)="copy()" class="btn-copy">
        Copiar segredo
      </button>

      <p class="destroyed">
        ⚠️ Este segredo é temporário e será destruído após a visualização.
        Copie agora, pois não poderá ser recuperado.
      </p>
    </div>

    <div *ngIf="errorMsg" class="error">
      {{ errorMsg }}
    </div>

  </div>
</div>
