 <p-toolbar class="thin-toolbar">
  <div class="p-toolbar-group-start">
    <p-button icon="pi pi-refresh" class="mr-2" (click)="loadEmails()"></p-button>
    &nbsp;&nbsp;
    <p-button icon="pi pi-plus" class="mr-2" (click)="showDialog()"></p-button>
  </div>
</p-toolbar>

<div class="card">
  <p-table
    #dt1
    [value]="emails"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5,10,20]"
    [loading]="loading"
    [responsiveLayout]="'scroll'"
    [globalFilterFields]="['address']">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Endereço de Email</th>
        <!-- <th>Ativo</th> -->
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-email>
      <tr>
        <td>{{ email.name }}</td>
        <td>{{ email.email.address }}</td>
        <!-- <td class="text-center">
            <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': email.ativo, 'text-red-500 pi-times-circle': !email.ativo }"></i>
        </td> -->
        <td>
          <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info p-mr-2" (click)="editEmail(email)"></button>
          <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteEmail(email)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="2">Nenhum email encontrado.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Adicionar/Editar Email" [(visible)]="visible" [modal]="true" [closable]="true" [responsive]="true" [style]="{width: '30vw'}">
  <span class="p-text-secondary block mb-5">Inclua o nome do email.</span>
  <form [formGroup]="form" (ngSubmit)="addEmail()">
    <div class="p-fluid mb-4">
      <div class="p-field">
        <label for="name">Nome</label>
        <input id="name" type="text" pInputText formControlName="name" />
      </div>
    </div>
    <p-footer>
      <button pButton type="submit" label="Salvar" [disabled]="form.invalid"></button>
    </p-footer>
  </form>
</p-dialog>
