<p-toast position="top-right" />

<div class="container">
  <div class="upload-container">
    <div class="upload-header">
      <i class="pi pi-file-excel upload-icon"></i>
      <h2>Remover Credenciais de Arquivos Excel</h2>
      <p>Selecione um ou mais arquivos <strong>.xlsx</strong> ou <strong>.xls</strong> para processar.</p>
    </div>

    <p-fileupload
      name="files"
      [multiple]="true"
      accept=".xlsm,.xls,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
      [customUpload]="true"
      (uploadHandler)="onUpload($event)"
      [disabled]="uploading()"
      chooseLabel="Selecionar Arquivos"
      uploadLabel="Enviar para Processar"
      cancelLabel="Limpar"
    >
      <ng-template #empty>
        <div class="drop-area">
          <i class="pi pi-cloud-upload"></i>
          <p>Arraste e solte os arquivos Excel aqui.</p>
        </div>
      </ng-template>
    </p-fileupload>

    @if (uploading()) {
      <div class="progress-wrapper">
        <span class="progress-label">Enviando arquivos, aguarde...</span>
        <p-progressbar mode="indeterminate" />
      </div>
    }
  </div>
</div>
